body {
  background-color: #D9D9D9;
}
button {
  background-color: #00000033;

}
button:hover {
  cursor: pointer;
  background-color: #0000004D;
}
input {

  height: 2.536875rem
}
.login-register-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.borderless {
  border-style: none;
  margin: 1.5rem;
  height: 3rem;
  width: 11rem;
}
.borderless:focus{
  outline: 0px;
}
.nav-and-tree{
  display: flex;

  margin-top: 1rem;
}
.nav {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */

  margin: 0.5rem;
}

/* Login Page */
#login-elements-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height:90vh
}

#register-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Register Page */
#register-elements-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  height:90vh;
}

/* Home Tree Page */
#home-tree {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;

  height: 60vh;
  width: 70vw;
}